<!DOCTYPE html>
<html lang="en" ng-app="SomeApp">
<head>
  <meta charset="UTF-8">
  <title>Poems</title>
  <script src="libs/angular.min.js"></script>
  <link rel="stylesheet" href="libs/bootstrap-theme.min.css">
  <link rel="stylesheet" href="libs/bootstrap.min.css">
  <script src="js/script.js"></script>
  <script src="libs/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/poemController.js"></script>
</head>

<body ng-controller="SomeAppCtrl">

<!--Main workspace-->
 
<div class="container" ng-if="states.logged">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h3 class="col-md-4">Poems</h3>
      <div class="user-block col-md-2 col-md-offset-6">
        <span class="user">{{states.activeUser}}</span>
        <button class="btn btn-primary btn-sm" ng-click="logOff()">Log Off</button>
      </div>
    </div>
    <div class="panel-body">
      <form class="col-md-3 col-md-offset-9">
        <button title="New poem">New poem <span class="glyphicon glyphicon-plus"></span></button>
      </form>


      <div class="panel-body" ng-controller="PoemCtrl">
        <div class="row">
          <form id="add-poem" method="post" class="col-md-6">
            <h3>Add new poem</h3>
            <div class="form-group">
              <label>Title:</label>
              <input type="text" id="title" name="title" class="form-control" ng-model="poemData.title"/>
              <p ng-show="state.titleWarning" class="bg-danger">Please, write a title of poem!</p>
            </div>
            <div class="form-group">
              <label>Poem:</label>
              <textarea name="body" rows="10" id="poem-body" class="form-control" ng-model="poemData.body"></textarea>
              <p ng-show="state.poemBodyWarning" class="bg-danger">Please, write a poem!</p>
            </div>
            <div class="form-group">
              <label>Date:</label>
              <input type="data" id="datepicker" name="date" class="datepicker" ng-model="poemData.date"/>
              <p ng-show="state.dateWarning" class="bg-danger">Please, set a date of poems creation!</p>
            </div>
            <input type="submit" value="Add poem" id="submit-btn" class="btn btn-primary" ng-click="savePoem()" />
            <p ng-class="state.savePoemWarning ? 'bg-success' : 'bg-danger'">{{msgs.poemMsg}}</p>
          </form>
          <div class="poems-list col-md-4 col-md-offset-1">
            <h3>Poems list:</h3>
            <ul class="list-group">
              <li><a class="list-group-item" ng-repeat="poem in poemsList">{{poem.title}}
              <p>{{poem.date}}</p></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Log in window-->

<form ng-if="states.loginWindow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">Welcome</h1>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control input-lg " ng-model="userInfo.userLogin" placeholder="Username" />
        </div>

        <div class="form-group">
          <input type="password" class="form-control input-lg" ng-model="userInfo.userPass" placeholder="Password" />
          <p ng-class="states.loginWarning ? 'bg-success' : 'bg-danger'">{{msgs.loginMsg}}</p>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-block btn-lg btn-primary" value="Login" ng-click="login()"/>
          <span class="pull-right"><a href="#" ng-click="activateRegisterWindow()">Register</a></span>
        </div>
      </div>
    </div>
  </div>
  </form>

<!--Register window-->

<form ng-if="states.registerWindow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="text-center">Registration: </h1>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control input-lg" ng-model="userInfo.userLogin" placeholder="Username" />
        </div>

        <div class="form-group">
          <input type="password" class="form-control input-lg"ng-model="userInfo.userPass" placeholder="Password" />
        </div>

        <div class="form-group">
          <input type="password" class="form-control input-lg" ng-model="userInfo.confUserPass" placeholder="Confirm password" />
          <p class="bg-danger" ng-show="states.passConfWarning">Incorrect password confirmation</p>
          <p ng-class="states.newUserCreated ? 'bg-success' : 'bg-danger'">{{msgs.regMsg}}</p>
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-block btn-lg btn-primary" ng-click="registration()" value="Register" />
          <span class="pull-right"><a href="#" ng-click="activateLoginWindow()">Login</a></span>
        </div>
      </div>
    </div>
  </div>
</form>
  
</body>
</html>
